body {
    font-family: 'Big Shoulders Display', cursive;
}

.hero-container {
    display: flex;
    max-height: 1275px;
}
.container-1 {
    display: flex;
}
.black-container {
    background-color: #151515;
    width: 40%;
    box-sizing: border-box;
    max-width: 450px;
}
.image-container {
    width: 30%;
    max-width: 540px;
    box-sizing: border-box;
}

.container-2 {
    display: flex;

}

.hero-title {
    width: 50%;

} 

.hero-context {
    width: 50%;
}